* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
nav{
    background-color: rgb(255, 0, 0);
    height: 10vh;
    color: white;
}
.element{
  display: none;
}
.h1{
  
  background-color: yellow;
  height: 15vh;
}
.h2{
  background-color: orange;
  height: 15vh;
}
.h3{
  background-color: green;
  height: 15vh;
}


@media screen and (max-width: 768px) {
  nav{
    background-color: pink;
   text-align: center;
}
.element{
  display: none;

  
}
.h1{
  background-color: rgb(190, 16, 7);
  color: white;
}
.h2{
  background-color: rgb(136, 0, 255);
  color: white;
}
.h3{
  background-color: rgb(17, 0, 128);
  color: white;
}
}


@media screen and (max-width: 600px) {
  nav{
    background-color: rgb(12, 108, 243);
   
}
.element{
  display:flex;
  color: white;
  justify-content: flex-end;
}
.h1{
  background-color: rgb(29, 210, 219);
  
}
.h2{
  background-color: rgb(188, 3, 255);
 
}
.h3{
  background-color: rgb(17, 0, 128);
   
}
} 
