@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    

  }

  body {
    overflow-x: hidden;

    height: 300vh;
  }

.h1one{
    color: white;
    font-family: "Pattaya";
}

nav .a {
  list-style-type: none;
  font-family: "Poppins";

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}
nav .b {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style-type: none;
}
nav li {
  
  padding: 0 4rem 0 4rem;
}
nav a {
    color: white;
    text-align: end;
    text-decoration: none;}
    
  nav{
    z-index: 1;
  position: fixed;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  margin: auto;
  background: #131c27;
  text-decoration: none;
  

}
.background1{
  background-image: image();

width: 99.05vw;
    height: 150vh;
    background-image: url(./IMAGES/landing-page.jpg);
    background-size: cover;
    
}
.hoofd1{
  font-family: "Poppins";
  color: white;
 position: relative;
 bottom: 35rem;
 left: 35rem;
}
.main1{
  font-family: "Poppins";
  font-size: 1.6em;
  color: white;
  position: relative;
  bottom: 35rem;
 left: 0rem;
 text-align: center;
}
.button1{
  font-family: "Poppins";
  font-size: 1.4em;
  color: white;
  background-color: #4c6e97;
  position: relative;
  bottom: 30rem;
 left: 40rem;
 border: none;
 height: 10vh;
 width: 30vh;
}
.backgroud2{
  background-image: image();
position: relative;
bottom: 30rem;
width: 99.05vw;
    height: 150vh;
    background-image: url(./IMAGES/new-york-page.png);
    background-size: cover;
    
}
.hoofd2{
  text-decoration: underline;
  font-family: "Poppins";
  font: 1.6em;
  color: #131c27;
 position: relative;
 bottom: 70rem;
 left: 3rem;
}
.main2{
  font-family: "Poppins";
  font-size: 1.6em;
  color: #131c27;
  position: relative;
  bottom: 65rem;
 left: -25rem;
 text-align: center;
}

.balkje{
  position: relative;
  bottom: 39rem;
  background-color: #131c27;
  height: 20vh;
}
.h2balkje{
  font-size: 1.6em;
  font-family: "Poppins";
  color: white;
  text-align: center;
}
.pbalkje{
  font-size: 1.3em;
  font-family: "Poppins";
  text-align: center;
  color: white;
}

.flex-container{
  display: flex;
  
  flex-direction: row;
  justify-content: space-around;
}
.item0{
  position: relative;
  bottom: 30rem;
  background-color: rgb(255, 255, 255);
  width: 15em;
  height: 20em;
  margin: -10vh 1vw;
  box-shadow: 0rem 0.5rem 1rem 0rem;
}
.item1{
  position: relative;
  bottom: 30rem;
  background-color: rgb(255, 255, 255);
  width: 15em;
  height: 20em;
  margin: -10vh 1vw;
  box-shadow: 0rem 0.5rem 1rem 0rem;
}
.item2{
  position: relative;
  bottom: 30rem;
  background-color: rgb(255, 255, 255);
  width: 15em;
  height: 20em;
  margin: -10vh 1vw;
  box-shadow: 0rem 0.5rem 1rem 0rem;
}
.main3 {
  margin: 3vh;
  font-family: "Poppins";
  font-size: 1.6em;
  color: #131c27;
 text-align: center;
}
.main4 {
  font-family: "Poppins";
  font-size: 0.8em;
  color: #131c27;
 text-align: center;
}
.imgdiv{
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #131c27;
}
.imgdiv2{
  width: 20%;
  text-align: center;
}
.background3{
  background-image: image();
  position: relative;
  bottom: 20rem;
  width: 99vw;
      height: 130vh;
      background-image: url(./IMAGES/contact-mountain.png);
      background-size: cover;
}
.h1contact{
  font-size: 2.53em
}
.contact{
  font-family: "Poppins";
  
  background: rgba(30, 30, 30, 0.481);
  position: relative;
  bottom: -20rem;
  left: 30rem;
  text-align: center;
  width: 90vh;
  height: 60vh;
  border-radius: 10px;
  color: white;
}
.buttoncontact{
  font-size: 1.6rem;
  color: white;
  font-family: "Poppins";
  background-color: #4c6e97;
  position: relative;
  bottom: -5rem;
  left: 0rem;
  text-align: center;
  width: 90vh;
  height: 15vh;
  border-radius: 10px;
  border: none;
}

input{
  height: 5vh;
  width: 30vh;
}
footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins";
  position: relative;
  bottom: 20rem;
  color: white;
  background-color: #131c27;
  height: 10vh;
}
@media screen and (max-width: 767px) {
  body {overflow: auto;}
}

@media screen and (max-width: 567px) {
  

}
