.h1 {
    width: 24px;
    color: blue;
    font-family: 'Roboto', sans-serif;
}
.h2{
    width: 20px;
    color: 000ff;
    font-family: 'Roboto', sans-serif;

}
h3{
    width: 16;
    color: teal;
    font-family: 'Roboto', sans-serif;
}
.p1{
    font-family: 'Roboto', sans-serif;
}
a {
    color: #8A2BE2;
    text-decoration: none;
}
